@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-clr);
}

img {
    width: 100%;
    height: 100%;
}

:root {
    --primary-clr: #FD2D01;
    --secondary-clr: #FFD7D7;
    --tertiary-clr: #4E5166;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
